* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    color: #ECECEC;
}

/*----------------------------------------------------------<Header>--------------------------------------------------*/

header {
    background-color: #2E472E;
    background: linear-gradient(black, #2E472E);
    width: 100%;
    height: 707px;
    transition: 0.3s;

}


.bi {
    font-size: 1.3rem;
    cursor: pointer;
}


.dark,
.darkmode {
    color: black;
}




.Headertop {
    height: 100px;
    border-bottom: 2px solid #ecececf6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type="checkbox"] {
    display: none;
}

.darkmode {
    color: #ECECEC;
}

.acessos {
    display: flex;
    gap: 60px;
}

.acessos a {
    text-decoration: none;
    color: #ECECEC;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
}

.links {
    display: flex;
    gap: 30px;
}





.headerhome {
    height: 60%;
    color: #ECECEC;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 100px;


}

.headerhomeP1 {
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
    text-shadow: 10px 10px 15px black;
    padding-left: 10%;
}

.headerhomeP2 {
    font-size: 100px;
    font-family: 'Cinzel', serif;
    text-shadow: 20px 15px 20px black;
    padding-left: 25%;
}

.headerhomeP3 {
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
    text-shadow: 10px 10px 15px black;
    padding-left: 15%;
}







/*----------------------------------------------------------<Header/>--------------------------------------------------*/



/*----------------------------------------------------------<Main>--------------------------------------------------*/




.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    min-height: 500px;

    font-size: large;
    gap: 20px;
    padding: 50px;
}



.box-text {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    max-width: 60%;

}

.about-me p {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}












.section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    width: 100%;
    min-height: 707px;
    background: linear-gradient(rgb(0, 0, 0), #2E472E);

    max-height: 100%;
    padding: 50px;

}

.card-1 {
    width: 300px;
    height: 460px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #ECECEC;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    font-size: 15px;
    gap: 40px;
}

.card-footer {
    display: flex;
    justify-content: center;
}

.card-footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}



.section3 {
    background-color: rgb(0, 0, 0);
    min-height: 607px;
    flex-wrap: wrap;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.conteiner-skills {
    background-color: pink;
    min-height: 80%;
    max-width: 80%;
    padding: 20px;
    display: flex;
    gap: 20px;
    
}

.box {
    background-color: orange;
    width: 200px;
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: x-small;
    gap: 20px;
}


/*----------------------------------------------------------<Main/>--------------------------------------------------*/







/*----------------------------------------------------------<Footer>--------------------------------------------------*/

footer {
    background-color: #2E472E;
    background: linear-gradient(black, #2E472E);
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    /*border-top: 2px solid orange;*/
}

footer a {
    margin-right: 50px;
    display: flex;
}

/*----------------------------------------------------------<Footer/>--------------------------------------------------*/







/*----------------------------------------------------------<@media>--------------------------------------------------*/
@media (max-width:500px) {


    html,
    body {
        width: 100%;
    }

    .Headertop {
        flex-direction: column;
        gap: 20px;
        height: 23%;
        padding-top: 10px;
        padding-bottom: 20px;
    }


    .acessos {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .headerhomeP1 {
        font-size: 100%;
        padding-left: 30px;
    }

    .headerhomeP2 {
        font-size: 60px;
        padding-left: 75px;

        ;
    }

    .headerhomeP3 {
        padding-left: 35px;
    }


    .boxtext {
        padding: 25px;
    }

    .bigbox {
        min-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .smallbox {
        min-width: 40%;
    }






    .section1 {
        font-size: x-small;
    }


    .section2 {
        height: auto;
    }


}



/*----------------------------------------------------------<@media/>--------------------------------------------------*/