* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    color: #ECECEC;
}

/*----------------------------------------------------------<Header>--------------------------------------------------*/

header {
    background-color: #2E472E;
    background: linear-gradient(black, #2E472E);
    width: 100%;
    height: 707px;
    transition: 0.3s;

}


.bi {
    font-size: 1.3rem;
    cursor: pointer;
}


.dark,
.darkmode {
    color: black;
}




.Headertop {
    height: 100px;
    border-bottom: 2px solid #ecececf6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type="checkbox"] {
    display: none;
}

.darkmode {
    color: #ECECEC;
}

.acessos {
    display: flex;
    gap: 60px;
}

.acessos a {
    text-decoration: none;
    color: #ECECEC;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
}

.links {
    display: flex;
    gap: 30px;
}





.headerhome {
    height: 60%;
    color: #ECECEC;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 100px;


}

.headerhomeP1 {
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
    text-shadow: 10px 10px 15px black;
    padding-left: 10%;
}

.headerhomeP2 {
    font-size: 100px;
    font-family: 'Cinzel', serif;
    text-shadow: 20px 15px 20px black;
    padding-left: 25%;
}

.headerhomeP3 {
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
    text-shadow: 10px 10px 15px black;
    padding-left: 15%;
}







/*----------------------------------------------------------<Header/>--------------------------------------------------*/



/*----------------------------------------------------------<Main>--------------------------------------------------*/




.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    min-height: 500px;
    gap: 20px;
    padding: 50px;
}

.section1 h2 {
    font-family: 'Cinzel', serif; 
    font-size:large;
}


.box-text {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    max-width: 60%;
    font-size: large;

}

.about-me p {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}














.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 707px;
    background: linear-gradient(rgb(0, 0, 0), #2E472E);

}

.section2 nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.conteiner-section2 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
}

.box-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    font-size: small;
    background-color: rgba(0, 0, 0, 0.174);
    box-shadow: #ECECEC;
    padding: 20px;
    gap: 15px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
}

.conteiner-section2 button {
   padding: 10px;
   width: 250px;
    border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.174);
   border: none;
   border: 1px solid #ECECEC;
   color: #ECECEC;
}

.section2 h2 {
    font-family: 'Cinzel', serif; 
    font-size:large;
}

.conteiner-section2 a :hover {
    background-color: #0000008d;    
}









.section3 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    min-height: 607px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column; 
    padding-top: 50px;
    gap: 20px;
}

.section3 h3 {
    font-family: 'Cinzel', serif; 
    font-size: large;
}

.section3-bigbox {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
    font-size: small;
    flex-wrap: wrap;
    gap: 10px;
}

.section3-smallbox {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    gap: 50px;
  
   padding: 20px;

}

.small {
   display: flex;
   flex-direction: column;
   gap: 10px;
}



/*----------------------------------------------------------<Main/>--------------------------------------------------*/







/*----------------------------------------------------------<Footer>--------------------------------------------------*/

footer {
    background: linear-gradient(rgb(0, 0, 0), #2E472E);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    
}

footer p{
    font-family: 'Cinzel', serif;  
}

.return-home a :hover {
    background-color: #0000008d;
    
}

footer button{
    padding: 10px;
    width: 150px;
     border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.174);
    border: none;
    border: 1px solid #ECECEC;
    color: #ECECEC;
}


.footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.return {
    text-decoration: none;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    position: fixed;
}

.return a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ECECEC;
}


/*----------------------------------------------------------<Footer/>--------------------------------------------------*/







/*----------------------------------------------------------<@media>--------------------------------------------------*/
@media (max-width:600px) {


    html,
    body {
        max-width: 500px;
    }

    .Headertop {
        flex-direction: column;
        gap: 30px;
        height: 23%;
        padding: 20px;
    }


    .acessos {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .headerhomeP1 {
        font-size: 100%;
        padding-left: 30px;
    }

    .headerhomeP2 {
        font-size: 60px;
        padding-left: 75px;

        ;
    }

    .headerhomeP3 {
        padding-left: 35px;
    }


    .boxtext {
        padding: 25px;
    }

    .bigbox {
        min-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .smallbox {
        min-width: 40%;
    }






    .section1 {
        font-size: x-small;
    }


    .section2 {
        height: auto;
    }


    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-direction: column;
        gap: 30px;
    }


    .section3-bigbox {
        display: flex;
        justify-content: start;
    }

}





/*----------------------------------------------------------<@media/>--------------------------------------------------*/